*{
    margin:0px;
    padding: 0px;
}
.window{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(image.jpg);
    background-size:auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  overflow: hidden;
}
.next{
    width: 7rem;
    height: 3rem ;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-size: 25px;
    border-radius: 10px;
    margin-top:100px;
    transition: 0.2s;
}
.next:hover{
    transform: scale(1.1);
    cursor: pointer;
}